<div class="benlido-compact-product-list-item swiper-slide">

  {% if items is defined %}

    {% set selected_variation_id = 0 %}

    {# Check if items are disabled and set variable value #}
    {% if items.disabled == true %}
      {% set className = "disabled" %}
    {% else %}
      {% set className = "" %}
    {% endif %}

    {# Check if Bag URL is defined #}
    {% if items.bagURL is defined %}
      {% set bagURL = items.bagURL %}
    {% else %}
      {% set bagURL = "" %}
    {% endif %}

    {# Check if items are picked #}
    {% if items.picked == true %}
      {% set picked = "hero-product-picked" %}
      {% set pickedCopy = items.selected_copy %}
    {% else %}
      {% set picked = "" %}
      {% set pickedCopy = items.button_copy %}
    {% endif %}

    {# Check if items are disabled #}
    {% if items.disabled == true %}
      <div class="hero-product-disabled">
        <h1 class="hero-product-disabled-header">{{ items.coming_soon }}</h1>
      </div>
    {% endif %}

    {# Check if logo exists #}
    {% if items.logo %}
      <a href="{{items.bagURL}}" title="{{items.header}}">
        <img class="hero-product-logo" src="{{ items.logo }}" alt=""/>
      </a>
    {% endif %}

    <div class="hero-product-bag-image-container">
      <img id="hero-{{items.index}}" class="hero-product-bag-image" src="{{items.image}}" srcset="{{items.srcset}}"/>
    </div>

    {# Check if Pre-Header copy was provided #}
    {% if items.preHeader %}
      <h2>{{items.preHeader}}</h2>
    {% endif %}

    {# Check if a URL has been provided #}
    {% if items.href %}
      <h1 class="hero-product-header">
        {% if items.is_kit == false %}
          <a href="{{items.bagURL}}" title="{{items.header}}">
          {% endif %}

          {{items.header}}

          <span class="hero-product-separator">/</span>

          {% if items.price %}
            <span class="hero-product-price">{{items.price}}</span>
          {% endif %}

          {% if items.is_kit == false %}
          </a>
        {% endif %}
      </h1>

      {% if items.swatches %}
        <p class="hero-product-swatch-count">
          {{ items.swatches|length }}
          colors
        </p>
      {% endif %}

    {% endif %}

  {% endif %}

</div>