{% if items is defined %}
  {% if items.disabled == true %}
    {% set className = "disabled" %}
  {% else %}
    {% set className = "" %}
  {% endif %}
  {% if items.triangleBackground %}
    {% set backgroundClassname = 'triangle-background'%}
  {% else %}
    {% set
backgroundClassname = ''%}
  {% endif %}
  {% if items.bagURL is defined %}
    {% set bagURL = items.bagURL %}
  {% else %}
    {% set
    bagURL = "" %}
  {% endif %}
  {% if items.picked == true %}
    {% set picked = "hero-product-picked" %}
    {% set pickedCopy = items.selected_copy %}
  {% else %}
    {% set picked = "" %}
    {% set pickedCopy = items.button_copy %}
  {% endif %}

  <div class="hero-product bg-white {{ className }}">

    {% if items.disabled == true %}
      <div class="hero-product-disabled">
        <h1 class="hero-product-disabled-header">{{ items.coming_soon }}</h1>
      </div>
    {% endif %}

    <div class="columns text-center">
      <div class="column col-4 col-xs-12 col-sm-12 col-md-12 col-mx-auto hero-product-info-column">

        {% if items.logo %}
          <a href="{{items.bagURL}}" title="{{items.header}}">
            <img class="hero-product-logo" src="{{ items.logo }}" alt=""/>
          </a>
        {% endif %}
        {% if items.preHeader %}
          <h2>{{items.preHeader}}</h2>
        {% endif %}
        {% if items.href %}

          <h1 class="hero-product-header">
            {% if items.is_kit == false %}
              <a href="{{items.bagURL}}" title="{{items.header}}">
              {% endif %}
              {{items.header}}
              {% if items.is_kit == false %}
              </a>
            {% endif %}
          </h1>
        {% endif %}

        {% if items.copy %}
          <p class="hero-product-copy">{{items.copy}}</p>
        {% endif %}

        {% if items.price %}
          <p class="hero-product-price">{{items.price}}</p>
        {% endif %}

        {% set selected_variation_id = 0 %}

        {# Check if product has swatches #}
        {% if items.swatches %}
          {% set disabled = ' disabled="disabled"' %}
          <div class="columns bl-product-swatches">
            <div class="bl-product-swatches-header">Choose a Color</div>
            <div class="bl-product-swatches-container">
              {% for swatch in items.swatches %}

                {% set selected = "" %}
                {% set defaultColor = "" %}

                {# Check if swatch is selected #}
                {% if swatch.selected == true %}
                  {% set selected_variation_id = swatch.id %}
                  {% set selected = " selected" %}
                  {% set disabled = "" %}
                {% endif %}

                {# Check if there's a default swatch color #}
                {% if swatch.default_selected_color == "1" %}
                  {% set defaultColor = "default-color" %}
                {% endif %}

                <div class="select-option swatch-wrapper {{selected}} {{defaultColor}}">
                  <a class="swatch-anchor normal swatch-color " title="{{swatch.title}}" data-product_name="{{swatch.product_name}}" data-product_category_name="{{swatch.product_category_name}}" data-product_sku="{{swatch.sku}}" data-price="{{swatch.price}}" data-product_id="{{items.product_id}}" data-variation_id="{{swatch.id}}" data-category_id="{{items.category_id}}" data-index="{{items.index}}" data-hero_image="{{swatch.hero_image}}" data-hero_image_retina="{{swatch.hero_image_retina}}" href="#">
                    {% if swatch.type == "image" %}
                      <img class="wp-post-image swatch-photopa_color_ swatch-img" src="{{swatch.image}}"/>
                    {% endif %}
                  </a>
                </div>

              {% endfor %}
            </div>
          </div>
        {% endif %}

        <a class="btn btn-primary btn-lg normal  bl-add-bag-product {{items.css}} {{picked}}" id="button-{{items.index}}" href="{{items.href}}" {{disabled}} data-category_id="{{items.category_id}}" data-product_id="{{items.product_id}}" data-variation_id="{{selected_variation_id}}" data-product_name="" data-product_sku="" data-product_category_name="" data-price="" title="{{pickedCopy}}">
          {{pickedCopy}}
        </a>

        <a class="btn btn-primary btn-lg bl-remove-bag-product {{items.removecss}}" id="button-{{items.index}}" href="{{items.href}}" {{disabled}} data-category_id="{{items.category_id}}" data-product_id="{{items.product_id}}" data-variation_id="{{selected_variation_id}}" title="Remove Bag">
          Remove Bag
        </a>

      </div>

      <div class="column col-7 col-xs-12 col-sm-12 col-md-12 col-mr-auto">
        {% if items.is_kit == false %}
          {# we don't show link if it is a prebuilt kit #}
          <a class="hero-product-bag-link {{items.css}}" href="{{items.bagURL}}" title="{{items.header}}">
            {% if items.promo is defined %}
              <p class="hero-product-promo">
                <span>{{ items.promo }}</span>
              </p>
            {% endif %}
          {% endif %}

          <img id="hero-{{items.index}}" class="hero-product-bag-image {{items.image_css}}" src="{{items.image}}" srcset="{{items.srcset}}"/>

          {% for details in items.hover_details %}

            <span class="hero-product-hover-details">

              <span class="hero-product-hover-header">
                {{ details.header }}
              </span>

              <span class="hero-product-hover-offer">

                {% if details.pre_text %}
                  <span class="hero-product-hover-pre-text">{{ details.pre_text }}</span>
                {% endif %}

                {% if details.copy %}
                  <span class="hero-product-hover-copy">
                    {% if details.discount_price %}
                      <strong>{{ details.discount_price }}</strong>
                    {% endif %}

                    {% if details.copy%}
                      <span>{{ details.copy }}</span>
                    {% endif %}
                  </span>
                {% endif %}

              </span>

              <span class="hero-product-hover-disclaimer">{{ details.disclaimer_copy }}</span>

            </span>
          {% endfor %}

          {# we don't show link if it is a prebuilt kit #}
          {% if items.is_kit == false %}
          </a>
        {% else %}
          {# this is a kit #}
          {# {% if items.products is not empty %}
      <div class="hero-product-bag-link hero-product-kit-link {{items.css}}" title="{{items.header}}">
        <div class="hero-product-hover-details">
          <h2 title="{{items.header}}">{{items.header}}: STARTER KIT</h2>
          <div class="columns text-left">
            {% for prod in items.products %}
            <div class="column col-xs-12 col-6">
              <span class="count">{{prod}}</span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %} #}
        {% endif %}
      </div>

    </div>
  </div>

{% endif %}