{% if homePageHero is defined %}

  {% for hero in homePageHero%}

    {% if hero.triangleBackground %}
      {% set backgroundClassname = 'triangle-background'%}
    {% else %}
      {% set backgroundClassname = ''%}
    {% endif %}

    {% if hero.backgroundStatic %}
      {% set backgroundStatic = 'full-background'%}
    {% else %}
      {% set backgroundStatic = ''%}
    {% endif %}

    <div class="hero hero-home {{ backgroundStatic }} {{ backgroundClassname }}" {% if hero.image %} style="background-image: url({{hero.image}})" {%
  endif %}>

      <div class="max-width-xl">

        <div class="columns">

          <div class="column col-sm-12 col-12 col-mx-auto">

            <p class="hero-sub-header">{{hero.preheader}}</p>
            <h1 class="hero-header">{{hero.header}}</h1>
            <p class="hero-copy">{{hero.copy}}</p>

            <div class="hero-action-buttons columns">
              {% for button in hero.hero_call_to_action_buttons %}
                <div class="column col-xs-6 col-sm-6 col-mx-auto col-sm-12 col-6">
                  <a href="{{button.url}}" class="btn btn-primary btn-lg btn-block {{button.classes}}" {{ button.target ?
              'rel="noopener noferrer" target="_blank"' }}>{{button.title}}</a>
                </div>
              {% endfor %}
            </div>

          </div>

          <div class="column col-12">
            <img class="bl-diamond" src="/wp-content/uploads/2018/09/bendiamond.svg"/>
          </div>

          {% if hero.image %}
            <div class="column col-md-12 col-xl-5 col-5 col-ml-auto d-none">
              <div class="hero-image-container">
                <img class="hero-image hero-image" src="{{hero.image}}" alt="{{hero.altText}}"/>
              </div>
            </div>
          {% endif %}

        </div>

      </div>

    </div>

  {% endfor %}
{% endif %}