{% if items is defined %}

  {% if item.disabled == true %}
    {% set className = "disabled" %}
  {% else %}
    {% set className = "" %}
  {% endif %}

  {% if item.triangleBackground %}
    {% set backgroundClassname = 'triangle-background'%}
  {% else %}
    {% set backgroundClassname = ''%}
  {% endif %}

  {% if item.bagURL is defined %}
    {% set bagURL = item.bagURL %}
  {% else %}
    {% set bagURL = "" %}
  {% endif %}

  {% if item.picked == true %}
    {% set picked = "hero-product-picked" %}
    {% set pickedCopy = "Bag selected" %}
  {% else %}
    {% set picked = "" %}
    {% set pickedCopy = "Choose Kit" %}
  {% endif %}

  <div class="hero-product bg-white {{ className }}">
    {% if item.disabled == true %}
      <div class="hero-product-disabled">
        <h1 class="hero-product-disabled-header">COMING SOON</h1>
      </div>
    {% endif %}
    <div class="columns text-center">
      <div class="column col-5 col-xs-12 col-sm-12 col-md-12 col-mx-auto">
        <a href="{{item.href}}" title="">
          <img class="hero-product-logo" src="{{ item.logo }}" alt=""/>
        </a>
        <h1 class="hero-product-header">
          <a href="{{item.href}}" title="">
            {{item.header}}
          </a>
        </h1>
        <p class="hero-product-copy">{{item.copy}}</p>

        {% if item.price %}
          <p class="hero-product-price">{{item.price}}</p>
        {% endif %}

        <a class="btn btn-primary btn-lg {{picked}}" href="{{item.href}}" title="">
          {{pickedCopy}}
        </a>
      </div>
      <div class="column col-6 col-xs-12 col-sm-12 col-md-12 col-mr-auto">
        <a class="hero-product-bag-link" href="{{bagURL}}" title="{{item.header}}">
          <img class="hero-product-bag-image" src="{{item.image}}"/>
        </a>
      </div>
    </div>
  </div>

{% endif %}