<div class="product-tile bg-white">

    <div class="text-center empty-product">
        <a class="product-tile-link bl-add-empty-product" href="{{url}}" title="{{link_title_esc}}">
            <i class="fal empty-product-add fa-plus-circle fa-4x"></i>
        </a>
        <h3 class="product-tile-header">{{header}}</h3>
        <h4 class="product-tile-sub-header">{{subheader}}</h4>

        <a href="{{url}}" class="btn btn-lg btn-block btn-primary bl-add-empty-product">
            {{link_title}}
        </a>

    </div>

</div>