<div class="product-tile bg-white" itemscope="itemscope" itemtype="http://schema.org/ItemList">
  <link itemprop="url" href=""/>

  <div itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product">
    <div class="text-center">

      {% if product.header is defined %}
        <h3 class="product-tile-header">{{product.header}}</h3>
      {% endif %}

      {% if product.categoryTitle is defined %}
        <h3 class="product-tile-header">{{product.categoryTitle}}</h3>
      {% endif %}

      <a class="product-tile-link" href="{{product.href}}" title="{{product.header}}">
        <img class="product-tile-image" alt="{{product.header}}" itemprop="image" src="{{product.image}}"/>
      </a>

    </div>

    <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
      <h5 class="product-tile-price" itemprop="price">${{product.price}}</h5>
      <p class="product-tile-description" itemprop="description">{{product.description}}</p>
    </div>

    {% if product.selected == true %}
      <div class="product-selected">
        <button class="btn btn-lg btn-block btn-primary btn-selected" data-sku="{{product.sku}}" data-category="{{product.category}}">
          <span class="btn-selected-remove">Remove</span>
          <span class="btn-selected-swap">Swap</span>
        </div>
      {% else %}
        <button class="btn btn-lg btn-block btn-primary" data-sku="{{product.sku}}" data-category="{{product.category}}">
          Add to kit
          <i class="fal fa-plus-circle"></i>
        </button>
      {% endif %}

    </div>
  </div>