{% if customizeKit is defined %}
    {% if customizeKit == true %}
        {% set removeSwap = false %}
    {% else %}
        {% set removeSwap = true %}
    {% endif %}
{% else %}
    {% set removeSwap = false %}
{% endif %}

<div class="product-tile bg-white" itemscope="itemscope" itemtype="http://schema.org/ItemList">

    <link itemprop="url" href=""/>

    <div class="text-center">

        {% if product.categoryTitle is defined %}
            <h3 class="product-tile-header">{{product.categoryTitle}}</h3>
        {% endif %}

        {# {% if product.categoryTitle is defined %}
      <h3 class="product-tile-header">{{product.categoryTitle}}</h3>
    {% endif %} #}

        <a class="product-tile-link" href="{{product.href}}" title="{{product.name}}">
            <img class="product-tile-image" alt="{{product.name}}" itemprop="image" src="{{product.image}}"/>
            <span class="product-tile-hover">VIEW DETAILS</span>
        </a>

    </div>

    <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
        <h5 class="product-tile-price" itemprop="price">${{product.price}}</h5>
        <p class="product-tile-description" itemprop="description">{{product.description}}</p>
    </div>

    {% if removeSwap == true %}
        <button class="btn btn-lg btn-block btn-primary btn-selected" data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}">
            <span class="btn-selected-remove remove-from-cart" data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}">Remove</span>
            <a href="/categories/{{product.categoryID}}" title="Swap out {{product.name}} for another product" class="btn-selected-swap swap-from-cart" data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}">Swap</a>
        </button>

    {% else %}
        <button class="btn btn-lg btn-block btn-primary add-to-cart
    {{ product.count ? 'in-cart' : ' ' }}
    " data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}">
            <i class="far fa-minus-circle {{ product.count ? ' ' : 'hidden'}}" data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}"></i>
            <span class="add-to-cart-text" data-default-text="Add to kit" data-cart-text=" in kit">
                {{ product.count ? product.count ~ ' in kit' : 'Add to kit'}}
            </span>
            <i class="far fa-plus-circle" data-name="{{product.name}}" data-sku="{{product.sku}}" data-category="{{product.categoryID}}"></i>
        </button>
    {% endif %}

</div>