<div class="delivery-frequency-tile">

  <img class="delivery-frequency-tile-image" src="{{shipping.image}}" alt=""/>
  <h2 class="delivery-frequency-tile-header">{{shipping.header}}</h2>
  <div class="delivery-frequency-tile-copy">{{shipping.copy}}</div>

  <button class="btn btn-block btn-lg btn-primary choose" name="frequency" value="{{shipping.number_of_days}}">Choose
    <i class="far fa-calendar"></i>
  </button>
  <button class="btn btn-block btn-lg btn-primary hero-product-picked chosen" name="frequency" value="{{shipping.number_of_days}}">Selected</button>

</div>