<ul class="{{ className }}">
    {% for item in list %}
        <li>
            <a href="{{item.url}}" title="{{item.alt_title}}"  {{ item.classes ? 'class="' ~ item.classes ~ '"' }} {{ item.target ? 'rel="noopener noferrer" target="_blank"' }} >{{item.title}}</a>
        </li>
    {% endfor %}
</ul>