{% if categoryItems is defined %}

  <div class="category-list">
    <h4 class="category-list-all-header">All Categories</h4>
    {% for category in categoryItems %}

      <div class="category-list-group">
        <h4 class="category-list-parent">
          <a href="{{ category.href }}" title="">{{ category.name }}</a>
        </h4>
        {% if category.items %}
          <ul class="category-list-sub-items">
            {% for item in category.items %}
              <li>
                <a href="{{ item.name }}" title="{{ item.href }}" data-category-id="{{ item.id}}">
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    {% endfor %}
  </div>
{% endif %}