{% if stepNavigation is defined %}
<div class="step-navigation max-width-xl">

    <div class="container">
        <div class="columns">
            <div class="column col-3 col-lg-2 text-left">
                <a class="btn btn-lg btn-no-border" href="{{stepNavigation.previousStep}}" title="">
                    <i class="fal fa-chevron-circle-left"></i>
                </a>
            </div>
            <div class="column col-xs-3 col-sm-5 col-6 col-lg-8 text-center">
                {% include 'common/navigation/navbar-desktop.twig' with { 'list': list, 'className': 'navbar-dropdown-primary-items desktop'}
                %}

                <div class="step-navigation-current">
                    {{stepNavigation.current}}
                </div>
            </div>
            <div class="column col-xs-6 col-sm-4 col-lg-2 col-3 text-right">

                {% if stepNavigation.next != '' %}

                <a class="btn btn-primary btn-lg hide-md {{stepNavigation.nextCss}}" href="{{stepNavigation.nextStep}}" title="{{stepNavigation.next}}">
                    <span class="step-navigation-text-next">
                        {{stepNavigation.next}}
                    </span>
                    <i class="fal fa-chevron-circle-right"></i>
                </a>

                <a class="btn btn-lg btn-no-border text-right show-md {{stepNavigation.nextCss}}" href="{{stepNavigation.nextStep}}" title="{{stepNavigation.next}}">
                    <span class="step-navigation-text-next">
                        {{stepNavigation.next}}
                    </span>
                    <i class="fal fa-chevron-circle-right"></i>
                </a>

                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endif %}